<p id="notice"><%= notice %></p>

<h1 id="pick">PICK WHAT YOU LIKE!!</h1>	


<br>
<table>
	<tr>
		<th>
			<div id="jne">
				<figure class="snip1523">
					<%= image_tag("jne.jpg", height:'450', width: '250', class: "img-circle cyn")  %>
					<figcaption>
						<h2> Gold Pearl Cake</h2>
						<h3>Red velvet and cookies & cream cake</h3>
						<p>frosted with vanilla buttercream.</p>
					</figcaption>
					<a href="#"></a>
				</figure>
				<br>
				<button class="btn waves-effect waves-ligh" type="submit" name="action"><%= link_to 'Order', new_order_path %></button>
			</div>
		</th>
		<th>
			<div id="cyn1">
				<figure class="snip1523">
					<%= image_tag("cyn1.jpg", height:'450', width: '250', class: "img-circle cyn")  %>
					<figcaption>
						<h2> Minion Cake</h2>
						<br>
				
						<p><h3>Devil’s food cake and cookies & cream cake</h3><br>
						frosted with flavored chocolate ganache filled with snickers covered in marshmallow fondant</p>
					</figcaption>
					<!-- <a href="#"></a> -->
				</figure>
				
				<button class="btn waves-effect waves-ligh" type="submit" name="action">        <%= link_to 'Order', new_order_path %> </button>
			</div>
		</th><th>
			<br>
			<div id="cyn1">
				<figure class="snip1523">
					<%= image_tag("cyn2.jpg", height:'450', width: '250', class: "img-circle cyn")  %>
					<figcaption>
						<h2>Soccer Ball Cake</h2>
						<p><h3>Almond cake</h3><br>
						Filled with couito filling and flavoredwhite chocolate
						ganache, covered in mashmallow fondant.</p>
					</figcaption>
					<a href="#"></a>
				</figure>
				
				<button class="btn waves-effect waves-ligh" type="submit" name="action">        <%= link_to 'Order', new_order_path %></button>
			</div>
		</th><th>
			<br>
			<div id="cyn1">
				<figure class="snip1523">
				<%= image_tag("cyn3.jpg", height:'450', width: '250', class: "img-circle cyn")%>
					<figcaption>
						<h2>Congrats Grad Cake</h2>
						<h3>Almond Pound cake</h3>
						<p>frosted and filled with almond buttercream.</p>
					</figcaption>
					<a href="#"></a>
				</figure>
				
				<button class="btn waves-effect waves-ligh" type="submit" name="action">        <%= link_to 'Order', new_order_path %> </button>
			</div>
		</th><th>
			<br>
			<div id="cyn1">
				<figure class="snip1523">
				<%= image_tag("cyn4.jpg", height:'450', width: '250', class: "img-circle cyn")%>
					<figcaption>
						<h2>Dipped Chocolate Bar Cake</h2>
						<h3>Blue velvet cake and cookies & cream </h3>
						<p>cake filled with flavored chocolate ganache with crushed cookies, frosted with vanilla buttercream.</p>
					</figcaption>
					<a href="#"></a>
				</figure>
				
				<button class="btn waves-effect waves-ligh" type="submit" name="action">        <%= link_to 'Order', new_order_path %> </button>
			</div>
		</th><th>
		<br>
			<div id="cyn1">
				<figure class="snip1523">
				<%= image_tag("cyn5.jpg", height:'450', width: '250', class: "img-circle cyn")%>
					<figcaption>
						<h2>Hello Kitty Sweet 16 Cake</h2>
						<h3>Red velvet and cookies & cream</h3>
						<p>cake filled with flavored chocolate ganache and crushed cookies, frosted with black flavored chocolate ganache.</p>
					</figcaption>
					<a href="#"></a>
				</figure>
				
				<button class="btn waves-effect waves-ligh" type="submit" name="action">        <%= link_to 'Order', new_order_path %> </button>
			</div>
		</th>
	</tr>
</table>
<br>

